.dw-container {
    padding: 25px;
}
.filters label {
    display: block;
}

.results-table th {
    background: none repeat scroll 0 0 #E1E2DC;
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.results-table td {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    color: #000;
}

.results-table .even {
    border-color: #ddd;
    background: #f3f4ee;
    transition: all, 0.15s;
}

.block-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
